.loadingScreen {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: visible;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
            cursor: pointer;
}

.loadingScreen #loadingLogo {
            width: 10vw;
            height: 10vw;
            z-index: 4;
}

#logoFilter {
  position: absolute;
  top: 2vw;
  left: 2vw;
  width: 10vw;
  cursor: pointer;
  display: flex;
  padding: 0;
  flex-direction: column;
  z-index: 1;
  line-height: 0;
}

#logo {
  height: max(8vw, 50px);
  cursor: pointer;
}

.Btn, .BtnOff {
  font-family: 'STXihei';
  border: 0px;
  background-color: transparent;
  flex-direction: column;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  font-size: max(.8vw, 5px);
  line-height: 1.5vw;
}

.Btn{   color: white; }

.BtnOff{   color: #acacac;   text-decoration: line-through; }