.loadingScreen {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: visible;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
            cursor: pointer;
}

.loadingScreen #loadingLogo {
            width: 20vw;
            height: 20vw;
            z-index: 4;
}

#logoFilter {
  position: absolute;
  top: 2vw;
  left: 2vw;
  width: 10vw;
  cursor: pointer;
  z-index: 2;
  display: flex;
  padding: 0;
  flex-direction: column;
}

.Logo {
  height: 10vw;
  z-index: 2;
  cursor: pointer;
}

.Btn, .BtnOff {
  font-family: 'STXihei';
  border: 0px;
  background-color: transparent;
  flex-direction: column;
  outline: none;
  transition:0.5s;
  cursor: pointer;
}

.Btn{   color: white; }

.BtnOff{   color: #acacac;   text-decoration: line-through; }

/*#logoFilter:hover .Btn, #logoFilter:hover .BtnOff{
            visibility: visible;
            opacity: 1;
            top: 120px;
            z-index: 2;
}*/


